/lambda/node_modules/
/lambda/Archive.zip
*.svg
/*.svg
/.idea/inspectionProfiles/Project_Default.xml
/.idea/.gitignore
/.idea/.name
/.idea/aws.xml
/.idea/detekt.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/php.xml
/.idea/SVGnest.iml
/.idea/vcs.xml
